h1{
    margin: 2rem;
}
.container-fluid{
    background: #eeeeee;
    margin-top: 2rem;
    border-radius: 5px;
}
.caracteristique-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 15em;

} 
.form-select{
    margin: 1rem; 
    padding:0.25rem ;
    background-color: #eeeeee;
  
}
